## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

## WARNING: These files are specific to edx.org and are not used in installations outside of that domain. Open edX users will want to use the file "footer.html" for any changes or overrides.
<div class="wrapper wrapper-footer edx-footer edx-footer-new">
  <footer id="footer-global" class="footer-global" role="contentinfo">

    <div class="footer-about">
      <h2 class="sr footer-about-title">${_("About edX")}</h2>

      <div class="footer-about-logo">
        <img alt="edX logo" src="${static.url('images/header-logo.png')}">
      </div>

      <div class="footer-about-copy">
        <p>
          ${_(
            "{EdX} offers interactive online classes and MOOCs from the world's best universities. "
            "Online courses from {MITx}, {HarvardX}, {BerkeleyX}, {UTx} and many other universities. "
            "Topics include biology, business, chemistry, computer science, economics, finance, "
            "electronics, engineering, food and nutrition, history, humanities, law, literature, "
            "math, medicine, music, philosophy, physics, science, statistics and more. {EdX} is a "
            "non-profit online initiative created by founding partners {Harvard} and {MIT}."
            ).format(
            EdX="EdX", Harvard="Harvard", MIT="MIT", HarvardX="HarvardX", MITx="MITx",
            BerkeleyX="BerkeleyX", UTx="UTx"
          )}
        </p>
      </div>

      <div class="footer-about-copyright">
        <p>${_("&copy; 2014 edX, some rights reserved.")}</p>
      </div>

      <div class="footer-about-links">
        <a href="${marketing_link('TOS')}">${_("Terms of Service and Honor Code")}</a>
        <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")} <span class="note">${_("(Revised 4/16/2014)")}</span></a>
      </div>
    </div>

    <div class="footer-nav">
      <h2 class="footer-nav-title">${_("About & Company Info")}</h2>

      <div class="footer-nav-links">
        <a href="${marketing_link('ABOUT')}">${_("About")}</a>
        <a href="${marketing_link('NEWS')}">${_("News")}</a>
        <a href="${marketing_link('CONTACT')}">${_("Contact")}</a>
      </div>

      <div class="footer-nav-links">
        <a href="${marketing_link('FAQ')}">${_("FAQ")}</a>
        <a href="${marketing_link('BLOG')}">${_("edX Blog")}</a>
      </div>

      <div class="footer-nav-links">
        <a href="${marketing_link('DONATE')}" class="has-emphasis">${_("Donate to edX")}</a>
        <a href="${marketing_link('JOBS')}" class="has-emphasis">${_("Jobs at edX")}</a>
      </div>
    </div>

    <div class="footer-follow">
      <h2 class="footer-follow-title">${_("Follow Us")}</h2>

      <div class="footer-follow-links">
        <a href="${settings.PLATFORM_TWITTER_URL}" title="Twitter">
          <i class="icon icon-twitter"></i>
          <span class="copy">${_("Twitter")}</span>
        </a>
        <a href="${settings.PLATFORM_FACEBOOK_ACCOUNT}" title="Facebook">
          <i class="icon icon-facebook"></i>
          <span class="copy">${_("Facebook")}</span>
        </a>
        <a href="${settings.PLATFORM_MEETUP_URL}" title="Meetup">
          <i class="icon icon-calendar"></i>
          <span class="copy">${_("Meetup")}</span>
        </a>
        <a href="${settings.PLATFORM_LINKEDIN_URL}" title="LinkedIn">
          <i class="icon icon-linkedin"></i>
          <span class="copy">${_("LinkedIn")}</span>
        </a>
        <a href="${settings.PLATFORM_GOOGLE_PLUS_URL}" title="Google+">
          <i class="icon icon-google-plus"></i>
          <span class="copy">${_("Google+")}</span>
        </a>
      </div>
    </div>
  </footer>
</div>
